* {
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  .container {
    height: 100%;
  }
  
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
  }
  .logo {
    height:50px;
    width: 140px;
    padding-right: 40px;
  }
  .logoAndList {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-item {
    list-style: none;
    cursor: pointer;
    padding: 0px 20px;
    font-family: "Poppins", sans-serif;
    color: #bebebe;
  }
  .list-item:hover{
    color: #041516;
    box-sizing: border-box;
    box-shadow: #98b10b;
    background-color: #73aa0c;
    border-radius: 1px;
    box-sizing: content-box;
}
  
  .home-item {
    color: #1caf55;
  }
  .home-item:hover{
    color: #041516;
    box-sizing: border-box;
    box-shadow: #0bb1a8;
    background-color: #0ca0aa;
    border-radius: 1px;
    box-sizing: content-box;
}
  
  .contact-btn {
    padding: 14px 25px;
    background-color: #0dbcc2b3;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  
  .banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .illustration-img {
    height: 500px;
    width: 700px;
  }
  
  .left-part {
    padding-left: 100px;
  }
  
  .heading-text {
    font-size: 60px;
    line-height: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000000;
    padding-bottom: 20px;
  }
  
  .span-crush {
    color: #0ca0aa;
  }
  .description {
    color: #413d3d50;
    font-size: 15px;
    width: 350px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 50px;
  }
  
  .btn {
    padding: 16px 45px;
    font-size: 15px;
    background-color: #0bb1a8;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  .btn:hover{
    box-shadow: #0bb1a8;
    border-radius: 3px;
    transition: 0;
    border: #000000;
    color: #1caf55;
  }
  
  